
{% load static %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<link href="{{STATIC_URL}}css/style.css" rel="stylesheet" type="text/css">

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,700,900|Display+Playfair:200,300,400,700"> 
<link rel="stylesheet" href="{{STATIC_URL}}fonts/icomoon/style.css">
<link rel="stylesheet" href="{{STATIC_URL}}css/magnific-popup.css">
<link rel="stylesheet" href="{{STATIC_URL}}css/jquery-ui.css">
<link rel="stylesheet" href="{{STATIC_URL}}css/owl.carousel.min.css">
<link rel="stylesheet" href="{{STATIC_URL}}css/owl.theme.default.min.css">
<link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap-datepicker.css">
<link rel="stylesheet" href="{{STATIC_URL}}fonts/flaticon/font/flaticon.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mediaelement@4.2.7/build/mediaelementplayer.min.css">
<link rel="stylesheet" href="{{STATIC_URL}}css/aos.css">
